# Ignore virtual environments
mnist_venv/


model_trial_0.pth
model_trial_26.pth

# Ignore model files
*.pth

# Ignore system files
.DS_Store

# Ignore temporary files
*.log

# Ignore Git pack files (if applicable)
.git/objects/pack/

