# Ignore virtual environments
mnist_venv/

# Ignore model files
*.pth

# Ignore system files and temporary files
.DS_Store
*.log

# Ignore Git pack files (managed by Git itself, not needed here)
.git/objects/pack/
